h1 {
    text-align: center;
    margin: 0px;
    padding: 50px;
    color: white;
    background-color: blue;
    border: ;
    border-radius: ;
    font-size: ;
    font-weight: ;
    font-family: cursive;
}

form {
    margin: ;
    padding: 20px;
    color: ;
    background-color: #e3e8e7;
    border: ;
    border-radius: ;
    font-size: ;
    font-weight: ;
}