body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: LightSteelBlue;
}

h1 {
    color: white;
    background-color:deeppink;
    font-size: large;
    font-weight: bold;
}
#p-slide {
    margin: auto;
    width: 50%;
    border: medium solid black;
    padding :10px;
    background-color: lightslategray;
}

table {
    text
    font-weight: bold;
    margin: 0;
    padding: 0;
}

#pyramid {
    font-size: x-large;
    font-weight: bold;
    color: deeppink;
    background-color: lightslategray;
}