h1 {
    text-align: center;
    margin: 0px;
    padding: 50px;
    color: white;
    background-color:hotpink;
    border: ;
    border-radius: ;
    font-size: ;
    font-weight: ;
    font-family: cursive;
}

table {
    margin: ;
    padding: 20px;
    color: ;
    background-color: #e3e8e7;
    border: ;
    border-radius: ;
    font-size: ;
    font-weight: ;
    font-family: cursive;
}
#pyramid {
    text-align: center;
    
}